{% if product.frequently_bought_together.size > 0 %}
  <section id="FrequentlyBoughtTogether" class="page-width section-frequently-bought-together">
    <h2>Frequently bought together</h2>

    {% for product in product.frequently_bought_together %}
      <div class="product">
        <a href="{{ product.url }}">
          <img src="{{ product.image | img_url: '800x' }}" alt="{{ product.title }}">
        </a>

        <div class="product-info">
          <h3>{{ product.title }}</h3>
          <p>{{ product.price | money_format }}</p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endif %}